# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

.DS_Store
.vscode

# Docs
foundry-docs/

# Dotenv file
.env

# coverage
lcov.info
coverage

# gas
.gas-snapshot

# echidna
_corpus/
crytic-export/

# slither
slither.db.json

# md-toc https://github.com/hoytech/md-toc
md-toc
